*{
    margin: 0px;
    padding: 0px;
}

body{
  /* background: #ff310d;
background: linear-gradient(90deg, rgba(255, 49, 13, 1) 0%, rgba(255, 209, 3, 1) 100%, rgba(237, 159, 14, 1) 100%);
*/
   background-color: #f5f5f3;
    text-align: center;
}

h1{
    font-size: 38px;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
.container{
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    gap: 1vmin;
    width: 60vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box{
    background-color: #023047;
    height: 16vmin;
    width: 16vmin;
    box-shadow: 0 0 1px 2px rgb(31, 30, 30);
    border-radius: 1rem;
    font-size: 10vmin;
    color: rgb(255, 255, 255);
}

#reset{
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    border-radius: 8px;
    background-color: #95190c;
    color: white;
}

p{
    font-size:30px;
    font-family: "Racing Sans One", sans-serif;
    font-style: normal;
    margin: 15px;
}
#newgame{
     padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #95190c;
    color: white;
}

.hide{
    display: none;
}
